<table id="tabResult" class="tableau">
    <thead>
        <tr>
            <th>Name</th>
            <th>Link to the page</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% if tabResult is not empty %}
            {% for line in tabResult %}
            <tr>
                <td>{{ line.name }}</td>
                <td><a href="https://www.facebook.com/{{ line.id }}" target="_blank">{{ line.name }}</a></td>
                <td>
                    {# Si le page est déjà présente dans la BDD (donc déjà recherchée), alors on propose de la supprimer #}
                    {% if line.id in pagesVerifArray %}
                    <div class="suppr-page btn red-btn" data-id={{ line.id }} data-name='{{ line.name }}'>Delete</div>
                    {% else %}
                    <div class="add-page btn green-btn" data-id={{ line.id }} data-name='{{ line.name }}'>Add</div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan=3>Imposible to find pages with your keyword(s)</td>
            </tr>
        {% endif %}
    </tbody>
</table>