<table id="tabResultTwitterUser" class="tableau">
    <thead>
    <tr>
        <th>UserId</th>
        <th>Name</th>
        <th>Tweet</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    {% if tabResult is not empty %}
        {% for user in tabResult %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td class="width20-text padding-10">{{ user.text }}</td>
                <td>
                    <a href="https://www.twitter.com/{{ user.name }}" target="_blank">
                        {# Si le profil est déjà présent dans la BDD (donc déjà recherché), alors on l'annonce comme déjà consulté #}
                        {% if user.id in contactedUsers %}
                            <div class="already-contacted-btn btn red-btn margin-10" data-id={{ user.id }} data-info='{{ user.text }}' data-name='{{ user.name }}'>Profile already seen</div>
                        {% else %}
                            <div class="contact-twitter-user-btn btn green-btn margin-10" data-id={{ user.id }} data-info='{{ user.text }}' data-name='{{ user.name }}'>See profile</div>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan=3>No user found</td>
        </tr>
    {% endif %}
    </tbody>
</table>